.more-info-section {

    margin-bottom: 170px;

    .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-align: center;
        color: rgba(57, 78, 93, 1);
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 45px;
    }

    .text-content {
        h3 {
            color: rgba(57, 78, 93, 1);
            font-size: 1.13rem;
            font-weight: 700;
        }

        p {
            max-width: 434px;
            color: rgba(24, 35, 51, 1);
            font-weight: normal;
            font-size: 1rem;
        }
    }

    .hero-image {
        margin-right: 120px;

        img {
            width: 84%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .more-info-section {

        margin-bottom: 56px;
        padding: 0 17px;

        .content-wrapper {
            flex-direction: column;
        }

        h2 {
            font-size: 1.6rem;
        }

        .text-content {
            p {
                line-height: 1.6rem;
            }
        }

        .hero-image {
            display: none;
        }
    }
}